@{
    ViewData["Title"] = "Movie List";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>My Movie List</h2>

    <p>Hello from our View Template!</p>
</body>
</html>
