@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my Movie Webpage with LDS Movies.</p>
        <img src="https://www.lds.org/bc/content/ldsorg/media-library/images/High-Res%20Print/0001608.jpg?download=true&lang=eng" alt="Jesus Christ" style="width:50%; height: 70%;" class="center"/>
</div>
